@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.fondo {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-width: 500px;
    height: 100vh;
    overflow: auto;
    text-align: left;
    margin: 0;
    padding: 0;
    background-image: url('../../public/vector.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: rgb(0, 0, 0);
    width: 100%;
    min-width: 500px;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    float: right;
    margin-right: 30px;
  }
  .ul{
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: end;
    min-width: 500px;
  }

.li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.aopciones {
    font-family: 'Inter', sans-serif;
    font-size: medium;
    display: block;
    color: #fff;
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 0px;
}

.aopciones:hover {
    background-color: #2391ec;
}

.acrear {
    font-family: 'Inter', sans-serif;
    font-size: medium;
    display: block;
    color: #fff;
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 0px;
    background-color: dodgerblue;
}

.acrear:hover {
    background-color: rgb(20, 92, 163);
}

.profileContainer {
    padding: 20px;
    margin-top: 160px;
}

.profileHeader {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 99;
}

.profileContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.profileAbout, .profileDetails {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profileImage {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 20px auto;
}

.profileAbout p, .profileDetails p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .profileAbout, .profileDetails {
        width: 100%;
    }
}